@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/*------header----*/

/*fondo*/
.por-img {
    background-color: rgb(190, 225, 225);
    margin: 0;
    padding: 0;
}
/*img. fixed*/
.portadaOpciones {
    text-align: center;
    font-size: x-large;
    width: 100%;
    height: 50%;
    background-image: url("../img/pasteleriacocina\ 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.presentaciónInicio div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.presentaciónImagen div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header {

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;

}

header h1 {
    color: #88acda;
    text-align: center;
    font-style: italic;
}

h2 {
    color: #d0f1bf;
    text-align: center;
}

header nav a {
    color: #36607d;
}

.presentacióntitulo {
    font-style: italic;
}

header nav ul li {
    font-family: 'Balsamiq Sans', cursive;
}

header nav ul p {
    font-family: 'Balsamiq Sans', cursive;
}

header h3 {
    font-family: 'Balsamiq Sans', cursive;
}

header nav {
    font-family: 'Balsamiq Sans', cursive;
}

/*pagina informacion*/
.portadaOpciones {
    color: #9abcd3;
}

.portada {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: x-large;
    width: 100%;
    height: 80vh;
    background-image: url("../img/pasteleriacocina\ 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.portada h2{
    color: #d0f1bf;
    font-family: 'Balsamiq Sans', cursive;

}

/*------main------*/
.presentación h2 {
    color: #303633;
    font-style: italic;
}

main section nav a {
    color: #d0f1bf;
}

main section h2 {
    color: #303633;
}

.presentaciónTituloPreguntas {
    list-style: none;
    color: #5afa0a;
    font-style: initial;
}

.presentaciónTituloPreguntasRespuesta {
    list-style: none;
    color: black;
    font-style: initial;
}

.advertencia {
    font-style: italic;
    color: red;
}

main {

    font-family: 'Balsamiq Sans', cursive;

}

.portadaNombre {
    font-size: 60px;
    border: 2px;
}

.portadaInformaciónPresupuesto {
    display: inline-block;
    text-decoration: none;
    color: #88acda;
    background-color: #303633;
    padding: 7px;
    margin-bottom: 30px;
    margin-top: 30px;
    ;
}

.presentaciónInicioParrafo {
    margin-bottom: 3%;
    margin-top: 3%;
}

.imagenesInicio { 
border: 1px solid white;

}

.presentaciónUbicaciónDireccion {
    text-align: center;
    border: 10px solid rgb(132, 153, 208);
}

.presentaciónTitulo { 
    text-align: center;
    padding-top: 25px;

}
.portadaInformaciónTitulo {
    text-align: center;
    padding-top: 25px;
 

}

.presentaciónInicioPregunta {
    text-align:center;
    padding-top: 25px;
}

nav{

    justify-content: space-evenly;

}

.por-img{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.portadaLinks{ 
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.portadaOpcionesLinks{
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}

.carousel-inner{
    display: flex;
    justify-content: center;
}

.carousel-inner{ 
    height: 70%;
    width: 70%;
    padding:auto;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;

}

.presentaciónTituloPreguntas{
    display: flex;
    justify-content: center;

}


/*------footer----*/

footer {
    color: white;
    background-color: #303633;
    width: 100%;
    height: 20vh;
    text-align: center;
    margin-top: 3%;
    padding: 20px;
}

.presentaciónUbicaciónDireccionMapa {
    color: #1c4780;
}

/*------ media query--------*/
@media screen and (max-width:768px) {
    .portada {
        flex-direction: column;
    }

    .presentaciónNuestra{
        flex-direction: column;
        font-size: 15px;
        position:static;
        text-align: justify;

    }

    .portadaOpciones{ 
        flex-direction: column;
            font-size: 25px;
            padding: 0%;
            margin-left: 0%;
            margin-top: 0%;
    }
    .presentaciónTituloPreguntas{ 
        flex-direction: column;
        font-size: 13px;
        padding: 0%;
        margin-left: 0%;
        margin-top: 0%;   
    }
    .presentaciónAdvertencia{
        flex-direction: column;
        font-size: 13px;
        padding: 0%;
        margin-left: 0%;
        margin-top: 0%;  
        color: red;

    }
}

@media screen and (max-width:470px) {
    .portada {
        flex-direction: column;
        font-size: 20px;

    }
    .portadaLinks {
        flex-direction:column;
        font-size: 20px;

    }
    .portadaNombre{
        flex-direction: column;
        font-size: 40px;
    }

    .portada{
        background-image: url("../img/images.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width:cover;
        height:200px;
    }
    .presentaciónNuestra{
        flex-direction: column;
        font-size: 15px;
        position:static;
        text-align: justify;

    }

    .presentaciónTituloPreguntas{ 
        flex-direction: column;
        font-size: 9px;
        padding: 0%;
        margin-left: 0%;
        margin-top: 0%;   
    }
    .presentaciónAdvertencia{
        flex-direction: column;
        font-size: 9px;
        padding: 0%;
        margin-left: 0%;
        margin-top: 0%;  
        color: red;
    }

.portadaOpciones{ 
    flex-direction: column;
        font-size: 17px;
        position:fixed;
}
}
